body{
	background-color: green;
}

h1{
	color: black;
	font-size: 70px;
	text-align: CENTER;
}

img{
	height: 150px;
	width: auto;
}

table, th, td{
	border: 3px solid black;
}

#title{
	width: 2000px;
}


