
#top {
	background-color: white;
	text-align: center;
}

h2 {
	text-align: center;
}

h3, p{
	padding: 10px;
	padding-top: 0px;
}

h4 {
	margin-bottom: 0px;
	padding: 10px;
	padding-top: 0px;
}

p {
	font-size: 18px;
	text-align: justify;
	margin-top: 0px;
}

html {
	font-family: SequelSansRoman,sans-serif;
	background-color: #f5f5f0;
}

table, th, td {
	border: 0px solid black;
}

#person{
	float: left;
	border: 2px solid black;
	margin-right: 5px;
	transform: rotate(90deg);
	margin-bottom: 50px;
	margin-top: 21px;
}

#gruppe{
	float: right;
	border: 2px solid black;
	margin-left: 10px;
}

#title{
	width: 100%;
}

#mid {
	background-color: white;
	margin-top: 1%;
	margin-left: 15%;
	margin-right: 15%;
	border: 20px solid white;
	border-top: 1px solid white;
	outline-color: invert;
	outline-style: solid;
	position: initial;
	z-index: -1;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

#AB {
	width: 90%;
	height: auto;
	border: 2px solid black;
	margin: auto;
	margin-bottom: 0px;
}

#AB2 {
	width: 40%;
	height: auto;
	border: 2px solid black;
	margin: auto;
	margin-bottom: 0px;
	float: right;
	margin-left: 1%;
}

#AB3 {
	border: 2px solid black;
	margin: auto;
	margin-bottom: 0px;
	margin: 10px;
}

#AB4 {
	border: 2px solid black;
	width: 50%;
	margin: auto;
	margin-bottom: 0px;
	margin: 10px;
}

#BT {
	font-family: italic;
	font-size: 10pt;
	width: 90%;
	margin-top: 0px;
}

#BT2 {
	font-family: italic;
	font-size: 10pt;
	padding-left: 10%;
	margin-top: 0px;
	text-align: right;
}

#BT3 {
	font-family: italic;
	font-size: 10pt;
	width: 55%;
	margin-top: 0px;
}

#BT4 {
	font-family: italic;
	font-size: 10pt;
	width: 65%;
	margin-top: 0px;
}

#BT5 {
	font-family: italic;
	font-size: 10pt;
	width: 80%;
	margin-top: 0px;
}

#BT6 {
	font-family: italic;
	font-size: 10pt;
	width: 50%;
	margin-top: 0px;
}


#Logo {
	max-width: 15%;
	max-height: auto;
}
#menu {
	position: absolute;
	width: 100%;

 }

#artikel {
	margin-top: 0%;
}

#byline {
	font-family: SequelSansRoman, sans-serif;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	padding-left: 5%;
}

#bund {
	text-align: bottom;
	position: static;
	background-color: white;
	margin-top: 27%;
}

#bund p {
	font-size: 12px;
	padding-bottom: 3x;
	margin-bottom: 0px;
}

#underrubrik {
	margin-bottom: 0;
}

ul {
	padding-left: 20px;
	font-size: 18px;
}

/*Navbar undermenu om os*/
#undermenu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 14%;
	position: absolute;
	overflow: auto;
}

li a {
	display: block;
	color: black;
	padding: 8px 16px;
	text-decoration: none;
	font-weight: bold;
}

li a:hover {
	background-color: #134d00;
	color: white;
}

.active{
	background-color: #208000;
	color: white;
}


/* Dropdown Button */
.dropbtn {
  background-color: #208000;
  width: 14%;
  min-width: 130px;
  height: 100px;
  color: white;
  padding: 20px;
  font-size: 25px;
  border: none;
  cursor: pointer;
  position: relative;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #134d00;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  max-width: 15%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  font-size: 25px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: Arial;
  
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

@media only screen and (max-aspect-ratio: 100/101) {
  body {
     background-color: lightblue;
  }
}



