
#top {
	background-color: lime;
	padding: 1%;
	text-align: center;
}
h1{
	text-align: center;
}

h2{
	text-align: center;
}

p {
	font-size: 12 px;
}

html{
	font-family: Arial;
	background-color: green;
}

table, th, td {
  border: 0px solid black;
}

#title{
	width: 100%;
	padding-right: 10%;
}

#mid {
	background-color: white;
	margin-right: 15%;
	margin-left: 15%;
	border: 20px solid white;
	outline-color: invert;
	outline-style: solid;
}