
h1{
	text-align: center;
}

h2{
	text-align: center;
}

p {
	font-size: 12 px;
}

html{
	font-family: Arial;
}

table, th, td {
  border: 0px solid black;
<<<<<<< HEAD
  
}

#title{
	width: 100%;
	padding-right: 10%;
}

#mid {
	background-color: white;
	margin-right: 15%;
	margin-left: 15%;
	border: 3px solid black;
	outline-color: invert;
	outline-style: solid;
}
=======
}

#title{
	width: 2000px
}
>>>>>>> df5ccc3427cc80c8f41b8dbd91129d5ee1b6510e
